.container-page {
  position: relative;
  min-height: 100vh;
}
#Home, #Mission, #Skills, #Contact{
  margin: 0;
  padding-top: 7vh;
}

.footer {
  padding: 0.75em;
  max-height: 3em;
  color: black;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
}

/* Hero CSS */


.hero-overlay{
  position: relative;
  top: 30vh;
  padding-top: 50vh;
}

.hero-overlay img{
  max-height: 20vh;
  width: auto;
  border: 5px solid rgba(28,101,140, 1);
  padding: 0 0 0 0;
  margin: 30px 0 0 0;
  position: relative;
  align-items: center;
}

.hero-background{
  position: relative;
  height: 100vh;
  display: flex;
  overflow: visible;
  top: -5em;
}

.hero-background img{
  position: relative;
  top: 0;
  flex: 1;
  padding: 0;
  margin: 0;
  height: 100vh;
  object-fit: fill;
}

.hero-overlay h1 {
	position: relative;
  font-size: 3em;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  z-index: 1;
  text-shadow: 2px 2px rgba(2, 5, 7, 0.787);
  overflow: hidden;
}

.hero-overlay h2 {
	position: relative;
  font-size: 1.5em;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  z-index: 1;
  text-align: center;
  text-shadow: 2px 2px rgba(2, 5, 7, 0.787);
  overflow: hidden;
}

/* Mission CSS */

#Mission{
  background-color: rgba(28,101,140, 1);
  padding: 5vh;
}

#Mission p {
  color: white;
}

#Mission img{
  max-height: 30em;
}

#Skills{
  margin: 0;
  padding-top: 5vh;
}

#Skills img{
  max-height: 10em;
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 0;
}

#Skills .allSkills{
  margin: 0;
  padding: 5vh;
  color: rgba(28,101,140, 1);
  font-weight: bold;
}


#Inspiration {
  background-color: rgba(28,101,140, 1);

}

#Inspiration h1{
  margin: 0;
  padding: 5vh;
}

.carousel-caption {
  background: rgba(28,101,140, .5);
}


.carousel-item img{
  object-fit: contain;
  max-height: 30em;
  overflow: hidden;
} 

#Contact{
  margin: 0;
  padding-top: 3vh;
}

#Contact .icon-links{
  margin: 0;
  padding: 3vh;
}

#Contact i {
  font-size: 45px;
}

#Contact a {
  color: black;
  text-decoration: none;
}

#Contact a:hover, a:focus {
  color: grey;
}
