.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container-page {
  position: relative;
  min-height: 100vh;
}
#Home, #Mission, #Skills, #Inspiration, #Contact{
  margin: 0;
  padding-top: 7vh;
}

.footer {
  padding: 0.75em;
  max-height: 3em;
  color: black;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
}

/* Hero CSS */

.hero-container{
  opacity: 1;
}

.hero-overlay{
  position: relative;
  top: 30vh;
}


.hero-overlay img{
  max-height: 20vh;
  width: auto;
  border: 5px solid rgba(28,101,140, 1);
  padding: 0 0 0 0;
  margin: 30px 0 0 0;
  position: relative;
  align-items: center;
}

.hero-overlay h1 {
	position: relative;
  font-size: 3em;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  z-index: 1;
  text-shadow: 2px 2px rgba(2, 5, 7, 0.787);
  overflow: hidden;
}

.hero-overlay h2 {
	position: relative;
  font-size: 1.5em;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  z-index: 1;
  text-align: center;
  text-shadow: 2px 2px rgba(2, 5, 7, 0.787);
  overflow: hidden;
}

/* Mission CSS */

#Mission{
  background-color: rgba(28,101,140, 1);
  padding: 5vh;
}

#Mission p {
  color: white;
}

#Mission img{
  max-height: 30em;
}